*{
    padding:0px;
    margin:0rem;
}
.myfont{
    font-family: sans-serif;
    font-weight:lighter;
    font-size:14px;
}
.mypad{
    padding: 10px;
    background-color : #aacfcf;
    margin-top: 3px;
    border-radius:  0.2rem;
}