*{
    padding:0px;
}
article{
    background-color: white;
    min-height:500px;
    padding : 2em;
}
article div{
    display:flex;
    flex-flow: row wrap;
}
article div figure{
    display:flex;
    justify-content: center;
    align-items:center;
    flex:1 0 200px;
    width:200px;
    height:300px;
    margin:12px;
    box-shadow:inset 0px 0px 3px 3px lightblue,0px 0px 3px lightgreen;
    transition: all 300ms ease-in-out;
    text-align:center
}
article div figure h3{
    font-size: medium;
    font-family: sans-serif;
    
}
article div figure h3 span{
    color:blue
}
article div figure:hover{
     box-shadow:2px 2px 6px 6px lightblue;
}